{% extends "base.html" %}

{% block content %}
<div class="row">
    <h2 class="col-sm-10">Add monkey</h2>    
</div>
<div class="row">
<form action="" method="post" name="addMonkey" role="form" class="form-horizontal col-md-10">
<form action="" method="post" name="">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <label for="name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-4">
            {{ form.name(class_="form-control", id="name", type="text") }}
        </div>
        {% for error in form.name.errors %}
        <div class="alert alert-danger col-sm-6" role="alert">{{error}}</div> 
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-4">
            {{ form.email(class_="form-control", id="email", type="email") }}
        </div>
        {% for error in form.email.errors %}
        <div class="alert alert-danger col-sm-6" role="alert">{{error}}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="age" class="col-sm-2 control-label">Age</label>
        <div class="col-sm-4">
            {{ form.age(class_="form-control", id="age", type="number", min="13", max="150") }}
        </div>

        {% for error in form.age.errors %}
          <div class="alert alert-danger col-sm-6" role="alert">{{error}}</div>
        {% endfor %}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="{{url_for('index')}}" class="btn btn-default">index</a>         
        </div>
    </div>
</form>
{% endblock %}