{% extends "base.html" %}

{% block content %}


<div class="panel panel-defualt">
	<div class="panel-heading">
		<a href="{{ url_for('add_monkey')}}"class="btn btn-default">Add Monkey</a>
	</div>
	<div class="table-responsive">
		<table class="table table-striped table-bordered table-hover table-condensed" >
		{% for monkey in monkeys.items %}
			<tr>
				<td>{{ monkey.name }}</td>
				<td>{{ monkey.email }}</td>
				<td>{{ monkey.age }}</td>
				<td>
					<a href="{{ url_for('profile', name=monkey.name)}}" class="btn btn-info">view profile</a>
					<a href='#' class="btn btn-warning">Edit profile</a>
					<a href='#' class="btn btn-danger">Delete profile</a>
				</td>
			</tr>
		{% endfor %}
		</table>
		<nav>
			<ul class="pagination">
		    {% if monkeys.has_prev %}
			<li>
				<a href="{{ url_for('index', page=monkeys.prev_num) }}">
					previous {#{monkeys.prev_num}#}</a>
			</li>
     	    {% endif %}

     	    {% if monkeys.page - 2 > 0 %}
     	    <li>
     	    	<a href="{{ url_for('index', page=monkeys.page-2) }}">
				    {{monkeys.page-2}}</a>
			</li>
		    {% endif %}
		    {% if monkeys.page - 1 > 0 %}
		    <li>
     	    	<a href="{{ url_for('index', page=monkeys.page-1) }}">
				    {{monkeys.page-1}}</a>
			</li>
		    {% endif %}
		    {% if monkeys.page %}
		    <li class="active">
     	    	<a href="{{ url_for('index', page=monkeys.page) }}">
				    {{monkeys.page}}</a>
			</li>
		    {% endif %}
		    {% if monkeys.page + 1 <= monkeys.pages %}
		    <li>
     	    	<a href="{{ url_for('index', page=monkeys.page+1) }}">
				    {{monkeys.page+1}}</a>
			</li>
		    {% endif %}
		    {% if monkeys.page + 2 <= monkeys.pages %}
		    <li>
     	    	<a href="{{ url_for('index', page=monkeys.page+2) }}">
				    {{monkeys.page+2}}</a>
		    </li>
		    {% endif %}
            {% if monkeys.has_next %}
        	<li>
        	    <a href="{{ url_for('index', page=monkeys.next_num) }}">next {#{monkeys.next_num}#}</a>
        	</li>
            {% endif %}
            </ul>
        </nav>
	</div>
</div>
{% endblock %}